<%= render :layout => "layouts/table", :locals => { :table_id => "urls_table" } do %>

      <% if @user_urls && !@user_urls.empty? %>
          <thead>
            <tr>
              <th>S/N</th>
              <th>Url</th>
              <th>Shortened url</th>
              <th>Hits</th>
              <th>Date created</th>
            </tr>
          </thead>
          <tbody>
            <% count = 1; @user_urls.each do |url| %>
              <tr class="odd gradeX">
                  <td><%= count %></td>
                  <td><%=link_to url.url, user_url_hits_path(@current_user, url), :remote => true %></td>
                  <td><%=link_to "#{full_url(url)}", user_url_hits_path(@current_user, url), :remote => true %></td>
                  <td class="center"><%= (url.hits_count || 0) %></td>
                  <td class="center"><%= url.created_at.strftime("%a, %d %b %y") %></td>
              </tr>
            <% count += 1; end %>
          <% else %>
            <tr>
              You haven't yet registered any url
            </tr>
          <% end %>
          <% puts "got to the end of table rendering" %>

      </tbody>
    <% end %>
